<!DOCTYPE html>
<html>
<head>
	<title>Herod</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="main.css" rel="stylesheet" type="text/css" media="all">

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/lodash/dist/lodash.js"></script>
	<script src="bower_components/paper/dist/paper-core.js"></script>

	<script src="js/ressources.js"></script>
	<script src="js/geometry.js"></script>
	<script src="js/table.js"></script>
	<script src="js/ecu.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-app="herod">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand">Herod</span>
				<p class="navbar-text"><em>Now you're slaying dragons with style!</em></p>
			</div>
		</div>
	</nav>

	<div ng-controller="EcuCtrl" class="container-fluid">
		<div class="col-md-6">
			<div id="ecu-container">
				<canvas id="ecu" ecu-viewport></canvas>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Couleur</h3>
					</div>
					<div class="panel-body">
						<div class="btn-group">
							<label ng-repeat="(name, hex) in Couleurs" class="btn btn-default" ng-model="ecu.selectedPart.couleur" ng-disabled="!ecu.selectedPart" uib-btn-radio="hex">{{name}}</label>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Partition</h3>
					</div>
					<div class="panel-body">
						<div class="btn-group">
							<label ng-repeat="(name, part) in Partitions" class="btn btn-default" ng-model="ecu.champ.partition" uib-btn-radio="part">{{name}}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
